## get the data

In [1]:
import pandas as pd

In [2]:
tr=pd.read_csv('train.csv')
tr.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
tr.shape

(614, 13)

## cleaning and manipulation of data

In [4]:
tr.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
tr['Credit_History'].mean()

0.8421985815602837

In [6]:
tr['LoanAmount'].mean()

146.41216216216216

In [7]:
tr['Credit_History'].fillna(tr['Credit_History'].mean(),inplace=True)

In [8]:
tr['LoanAmount'].fillna(tr['LoanAmount'].mean(),inplace=True)

In [9]:
tr.drop('Dependents',axis=1,inplace=True)

In [10]:
tr.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [11]:
tr['Loan_Amount_Term'].mean()

342.0

In [12]:
tr['Loan_Amount_Term'].fillna(tr['Loan_Amount_Term'].mean(),inplace=True)

In [13]:
tr.drop('Married',axis=1,inplace=True)

In [14]:
tr.drop('Loan_ID',axis=1,inplace=True)

In [15]:
tr.isnull().sum()

Gender               13
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [16]:
tr['Gender'].value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [17]:
tr['Gender'].fillna('Male',inplace=True)

In [18]:
tr.isnull().sum()

Gender                0
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [19]:
tr['Self_Employed'].mode

<bound method Series.mode of 0       No
1       No
2      Yes
3       No
4       No
5      Yes
6       No
7       No
8       No
9       No
10      No
11     NaN
12      No
13      No
14      No
15      No
16      No
17      No
18      No
19     NaN
20      No
21      No
22      No
23      No
24     NaN
25     Yes
26      No
27      No
28      No
29     NaN
      ...
584     No
585     No
586     No
587     No
588     No
589    Yes
590     No
591    Yes
592    Yes
593     No
594    Yes
595     No
596    Yes
597     No
598    Yes
599     No
600    NaN
601    NaN
602     No
603     No
604     No
605     No
606     No
607     No
608     No
609     No
610     No
611     No
612     No
613    Yes
Name: Self_Employed, Length: 614, dtype: object>

In [20]:
tr['Self_Employed'].fillna('No',inplace=True)

In [21]:
tr.isnull().sum()

Gender               0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [22]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
tr['Education']=lb.fit_transform(tr['Education'])
tr['Gender']=lb.fit_transform(tr['Gender'])
tr['Property_Area']=lb.fit_transform(tr['Property_Area'])
tr['Self_Employed']=lb.fit_transform(tr['Self_Employed'])
tr[['Loan_Status']]=lb.fit_transform(tr['Loan_Status'])
tr.head()

,Gender,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,0,0,5849,0.0,146.412162,360.0,1.0,2,1
1,1,0,0,4583,1508.0,128.000000,360.0,1.0,0,0
2,1,0,1,3000,0.0,66.000000,360.0,1.0,2,1
3,1,1,0,2583,2358.0,120.000000,360.0,1.0,2,1
4,1,0,0,6000,0.0,141.000000,360.0,1.0,2,1

## train and test

In [23]:
X=tr.drop('LoanAmount',axis=1)
Y=tr['LoanAmount']

In [24]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=42)

In [25]:
X.head()

,Gender,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,0,0,5849,0.0,360.0,1.0,2,1
1,1,0,0,4583,1508.0,360.0,1.0,0,0
2,1,0,1,3000,0.0,360.0,1.0,2,1
3,1,1,0,2583,2358.0,360.0,1.0,2,1
4,1,0,0,6000,0.0,360.0,1.0,2,1

In [26]:
X_train.head()

,Gender,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
553,1,1,0,2454,2333.0,360.0,0.0,2,0
601,1,1,0,2894,2792.0,360.0,1.0,0,1
261,1,0,0,2060,2209.0,360.0,1.0,1,1
496,1,1,0,2600,1700.0,360.0,1.0,0,1
529,1,1,0,6783,0.0,360.0,1.0,1,1

In [33]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression()
logreg.fit(X,Y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: Unknown label type: 'continuous'

In [34]:
Y_pred=logreg.predict(X_test)

NotFittedError: This LogisticRegression instance is not fitted yet