[02468]$|[0-9]*[02468]

## user name

- min 6 and max 20 {6,20}
- [a-z 0-9]
- .
- @

## domain

- [a-z] {5,15}
- .

## extension

- [a-z]{2,5}


- google.com
- www.google.com
- google.co.in
- w3schools.com
- 32google.com

In [3]:
import re

In [4]:
sum=0
file=open('regex_sum_27824.txt','r')
data1=file.read()
data2=re.findall('[0-9]',data1)
for i in data2:
    sum+=int(i)
    print(sum)
    file.close()

7
16
23
24
27
33
36
40
46
46
51
58
63
70
78
87
91
98
98
99
101
105
106
108
110
111
117
126
133
141
144
145
151
160
160
165
173
182
187
192
199
201
207
215
215
222
228
229
230
239
248
251
258
260
261
269
271
272
275
276
280
285
288
291
291
297
302
307
315
319
320
320
328
330
334
337
346
352
359
361
366
370
377
385
387
390
397
397
399
403
403
405
409
414
415
420
421
427
433
442
445
450
458
459
461
461
461
461
463
467
474
481
489
493
495
504
511
516
521
528
533
535
542
544
551
552
561
564
568
575
584
584
585
586
590
593
600
607
611
618
619
626
635
643
646
652
652
656
660
662
667
669
675
681
689
695
702
706
707
712
719
726
728
732
735
740
744
753
759
764
772
773
775
779
785
793
794
803
807
814
818
825
831
839
847
851
860
868
875
882
884
892
898
907
913
919
926
933
937
946
951
960
967
975
983
992
1000
1005
1008
1009
1013
1015
1016
1019
1022
1022
1028
1034
1043
1052
1059
1060
1069
1071
1072
1072
1081
1088
1093
1099
1104
1111
1119
1126
1128
1136
1145
1146
1148
1152
1156
1160
1164
1170
1174
1176
1176
1178
1186
1193
1194
1200
1202
1202
1211
1217
1225
1227
1228
1236
1238
1247
1250
1259
1263
1266
1270
1272

## map()

In [6]:
x=map(int,data2)
print(x)

<map object at 0x000001A37A96A7B8>

In [7]:
m=list(x)
print(m)

[7, 9, 7, 1, 3, 6, 3, 4, 6, 0, 5, 7, 5, 7, 8, 9, 4, 7, 0, 1, 2, 4, 1, 2, 2, 1, 6, 9, 7, 8, 3, 1, 6, 9, 0, 5, 8, 9, 5, 5, 7, 2, 6, 8, 0, 7, 6, 1, 1, 9, 9, 3, 7, 2, 1, 8, 2, 1, 3, 1, 4, 5, 3, 3, 0, 6, 5, 5, 8, 4, 1, 0, 8, 2, 4, 3, 9, 6, 7, 2, 5, 4, 7, 8, 2, 3, 7, 0, 2, 4, 0, 2, 4, 5, 1, 5, 1, 6, 6, 9, 3, 5, 8, 1, 2, 0, 0, 0, 2, 4, 7, 7, 8, 4, 2, 9, 7, 5, 5, 7, 5, 2, 7, 2, 7, 1, 9, 3, 4, 7, 9, 0, 1, 1, 4, 3, 7, 7, 4, 7, 1, 7, 9, 8, 3, 6, 0, 4, 4, 2, 5, 2, 6, 6, 8, 6, 7, 4, 1, 5, 7, 7, 2, 4, 3, 5, 4, 9, 6, 5, 8, 1, 2, 4, 6, 8, 1, 9, 4, 7, 4, 7, 6, 8, 8, 4, 9, 8, 7, 7, 2, 8, 6, 9, 6, 6, 7, 7, 4, 9, 5, 9, 7, 8, 8, 9, 8, 5, 3, 1, 4, 2, 1, 3, 3, 0, 6, 6, 9, 9, 7, 1, 9, 2, 1, 0, 9, 7, 5, 6, 5, 7, 8, 7, 2, 8, 9, 1, 2, 4, 4, 4, 4, 6, 4, 2, 0, 2, 8, 7, 1, 6, 2, 0, 9, 6, 8, 2, 1, 8, 2, 9, 3, 9, 4, 3, 4, 2]

In [8]:
sq=list(map(lambda x:x**2,m))
print(sq)

[49, 81, 49, 1, 9, 36, 9, 16, 36, 0, 25, 49, 25, 49, 64, 81, 16, 49, 0, 1, 4, 16, 1, 4, 4, 1, 36, 81, 49, 64, 9, 1, 36, 81, 0, 25, 64, 81, 25, 25, 49, 4, 36, 64, 0, 49, 36, 1, 1, 81, 81, 9, 49, 4, 1, 64, 4, 1, 9, 1, 16, 25, 9, 9, 0, 36, 25, 25, 64, 16, 1, 0, 64, 4, 16, 9, 81, 36, 49, 4, 25, 16, 49, 64, 4, 9, 49, 0, 4, 16, 0, 4, 16, 25, 1, 25, 1, 36, 36, 81, 9, 25, 64, 1, 4, 0, 0, 0, 4, 16, 49, 49, 64, 16, 4, 81, 49, 25, 25, 49, 25, 4, 49, 4, 49, 1, 81, 9, 16, 49, 81, 0, 1, 1, 16, 9, 49, 49, 16, 49, 1, 49, 81, 64, 9, 36, 0, 16, 16, 4, 25, 4, 36, 36, 64, 36, 49, 16, 1, 25, 49, 49, 4, 16, 9, 25, 16, 81, 36, 25, 64, 1, 4, 16, 36, 64, 1, 81, 16, 49, 16, 49, 36, 64, 64, 16, 81, 64, 49, 49, 4, 64, 36, 81, 36, 36, 49, 49, 16, 81, 25, 81, 49, 64, 64, 81, 64, 25, 9, 1, 16, 4, 1, 9, 9, 0, 36, 36, 81, 81, 49, 1, 81, 4, 1, 0, 81, 49, 25, 36, 25, 49, 64, 49, 4, 64, 81, 1, 4, 16, 16, 16, 16, 36, 16, 4, 0, 4, 64, 49, 1, 36, 4, 0, 81, 36, 64, 4, 1, 64, 4, 81, 9, 81, 16, 9, 16, 4]

## filter

In [18]:
m4=print(list(filter(lambda x:x%2== 0 and x%3==0 and x!=0,sq)))
print(m4)

[36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36]
None

In [15]:

m3=print(list(filter(lambda x:x%36== 0  and x!=0,sq)))
print(m3)

[36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36]
None

In [35]:
m5=list(filter(lambda x:x%2== 0 and x%3==0 and x!=0,sq))
m6=list(map(lambda x:x+10,m5))
print(m6)

[46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46]

In [22]:
print(list(filter(lambda x:x%2== 0 and x%3==0 and x!=0,sq)))

[36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36]

In [33]:
m7=list(filter(lambda x:x%2== 0 and x%3==0 and x!=0,sq))
print(m7)

[36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36]

In [34]:
m8=list(map(lambda x:x+10,m7))
print(m8)

[46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46]

## list comprehension

In [1]:
m=[]
for i in range(1,101):
    if i%2==0:
        m.append(i**2)
print(m)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604, 10000]

In [31]:
mi=[i**2 for i in range(1,101) if i%2==0]
print(mi)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604, 10000]

In [32]:
mj=[i**2 for i in range(1,101)if i%2==0 and i%4==0]
print(mj)

[16, 64, 144, 256, 400, 576, 784, 1024, 1296, 1600, 1936, 2304, 2704, 3136, 3600, 4096, 4624, 5184, 5776, 6400, 7056, 7744, 8464, 9216, 10000]

In [46]:
s='pythonprogramming'
letters=[i for i in s if i in 'aeiou']
print(letters)

['o', 'o', 'a', 'i']

In [47]:
s='deekshitha'
letters=[i for i in s if i in 'aeiou']
print(letters)

['e', 'e', 'i', 'a']

## dictionary comprehensions

In [48]:
d={}
d['key']='value'
d

{'key': 'value'}

In [52]:
d1={}
for i in range(1,11):
    d1[i]=i**2
print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [51]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [66]:
s='deekshitha'
d={i:s.count(i)for i in s if i in 'aeiou' }
print(d)

{'e': 2, 'i': 1, 'a': 1}

In [58]:
d1={}
for i in s:
    d1[i]=d1.get(i,0)+1
print(d1)

{'d': 1, 'e': 2, 'k': 1, 's': 1, 'h': 2, 'i': 1, 't': 1, 'a': 1}

In [83]:
words=['deekshi','sri','niha','siri','pranee','lalitya']
{s.upper():len(s)for s in words}

{'DEEKSHI': 7, 'SRI': 3, 'NIHA': 4, 'SIRI': 4, 'PRANEE': 6, 'LALITYA': 7}

In [70]:
{i:{j:i.count(j)for j in i if j in 'aeiou'}for i in words}

{'deekshi': {'e': 2, 'i': 1},
 'sri': {'i': 1},
 'niha': {'i': 1, 'a': 1},
 'siri': {'i': 2},
 'pranee': {'a': 1, 'e': 2},
 'lalitya': {'a': 2, 'i': 1}}

In [87]:
{i:for i in words if list[words]}

SyntaxError: invalid syntax (<ipython-input-87-9ff5fdd1fbcd>, line 1)