In [1]:
import pandas as pd

In [2]:
import numpy as np

### 1

In [13]:
s=pd.Series(data=['python','java','ruby','pandas'],index=[6,7,8,9])
print(s)
s=s.reindex(index=[9,8,7,6])
print(s)

6    python
7      java
8      ruby
9    pandas
dtype: object
9    pandas
8      ruby
7      java
6    python
dtype: object

### 2.

In [5]:
sample1=pd.Series([2,4,6,8])
sample2=pd.Series([1,3,5,7])
addition=sample1+sample2
subtraction=sample1-sample2
product=sample1*sample2
division=sample1/sample2
print(addition)
print(subtraction)
print(product)
print(division)

0     3
1     7
2    11
3    15
dtype: int64
0    1
1    1
2    1
3    1
dtype: int64
0     2
1    12
2    30
3    56
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
dtype: float64

### 3

In [6]:
sample=pd.Series([1,5,7,9])
type(sample)
print(type(sample))
print(sample.tolist())
print(type(sample.tolist()))

<class 'pandas.core.series.Series'>
[1, 5, 7, 9]
<class 'list'>

### 4

In [7]:
name=['Sachin','Ganguly','Kohli','Johnson','Taylor','Waugh',
'Yuvraj','Kambli','Srinath','Munaf']
score=[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19]
attempts=[1,3,2,3,2,3,1,1,2,1]
qualify=['yes','no','yes','no','no','yes','yes','no','no','yes']
labels=['a','b','c','d','e','f','g','h','i','j']
dataframe={'score':score,'attempts':attempts,'qualify':qualify,
'labels':labels}
examdata=pd.DataFrame(dataframe,index=name)
print(examdata[examdata['score'].isnull()])

         score  attempts qualify labels
Johnson    NaN         3      no      d
Kambli     NaN         1      no      h

### 5

In [8]:
print(pd.datetime.now().date())

2019-12-31

### 6

In [11]:
dd=pd.read_csv('titanic.csv')
result=pd.pivot_table(dd,index=['Sex','Age'],aggfunc=np.sum)
print(result)

                  Fare  Parch  PassengerId  Pclass  SibSp  Survived
Sex    Age
female 0.75    38.5166      2         1115       6      4         2
       1.00    26.8750      3          555       6      1         2
       2.00   259.4750      9         2278      15      9         2
       3.00    62.6542      3          419       5      4         1
       4.00   114.1417      6         2258      13      4         5
       5.00    90.8708      5         1520      11      7         4
       6.00    64.2750      3         1535       5      4         1
       7.00    26.2500      2          536       2      0         1
       8.00    47.3250      3          263       5      3         1
       9.00   108.7958      7         2178      12     10         0
       10.00   24.1500      2          420       3      0         0
       11.00   31.2750      2          543       3      4         0
       13.00   26.7292      1         1228       5      0         2
       14.00  169.1667      2          501       9      3         3
       14.50   14.4542      0          112       3      1         0
       15.00  241.0459      1         2420      10      1         4
       16.00  246.2625      4         2127      12      5         5
       17.00  210.7833      2         1749      12      6         5
       18.00  697.0167      9         7245      31      6         8
       19.00  215.0959      2         2530      13      3         7
       20.00   18.4875      0          519       6      1         0
       21.00  410.4333      4         2877      16      5         4
       22.00  444.1084      6         5413      26      3        10
       23.00  405.5417      2         2424      10      4         4
       24.00  772.1708     15         6833      31     10        14
       25.00  223.2500      4         2938      11      3         2
       26.00  136.7292      1         1541      12      2         3
       27.00   76.8916      3         2677      15      2         5
       28.00  110.9458      1         3307      16      3         5
       29.00  320.6208      7         2062      16      3         5
...                ...    ...          ...     ...    ...       ...
male   42.00  216.1084      1         4117      21      3         3
       43.00   40.7500      1         1803       8      1         0
       44.00  156.1250      1         2360      15      3         1
       45.00  187.1000      0         1597      10      1         2
       45.50   35.7250      0          536       4      0         0
       46.00  166.3750      0         1281       4      1         0
       47.00  181.3583      0         3807      12      0         0
       48.00  176.1334      0         3056       8      2         3
       49.00  256.9167      1         2351       6      3         2
       50.00  317.0250      0         2848       8      4         1
       51.00  123.3084      1         2427      13      0         1
       52.00  136.6500      1         2124       6      1         1
       54.00  195.1500      1         1283       8      1         0
       55.00   30.5000      0          493       1      0         0
       55.50    8.0500      0          153       3      0         0
       56.00   92.7458      0         1291       3      0         1
       57.00   12.3500      0          627       2      0         0
       58.00  142.9750      2         1148       2      0         0
       59.00   20.7500      0          328       5      0         0
       60.00  144.7500      2         1968       4      2         1
       61.00   72.0583      0         1124       5      0         0
       62.00   63.6000      0         1380       4      0         1
       64.00  289.0000      4          985       2      1         0
       65.00   96.2792      1          793       5      0         0
       66.00   10.5000      0           34       2      0         0
       70.00   81.5000      1         1419       3      1         0
       70.50    7.7500      0          117       3      0         0
       71.00   84.1584      0          591       2      0         0
       74.00    7.7750      0          852       3      0         0
       80.00   30.0000      0          631       1      0         1

[145 rows x 6 columns]

### 7

In [14]:
np.arange(2,11).reshape(3,3)

array([[ 2,  3,  4],
       [ 5,  6,  7],
       [ 8,  9, 10]])

# 8

In [15]:
d=np.arange(1,10).reshape(3,3)
print(d.flatten())
print(d.ravel())

[1 2 3 4 5 6 7 8 9]
[1 2 3 4 5 6 7 8 9]

# 9

In [16]:
t=np.random.random((3,3))
print(t)
print(np.min(t))
print(np.max(t))
print(np.std(t))
print(np.min(t))

[[0.59642396 0.51359009 0.0819883 ]
 [0.91792969 0.59625721 0.69539   ]
 [0.99580848 0.98914295 0.23221512]]
0.08198829929315621
0.9958084816833171
0.3025913645233112
0.08198829929315621

# 10

In [17]:
w=np.random.random((3,3))
r=np.random.random((3,3))
print(np.vstack((w,r)))
print(np.hstack((w,r)))

[[0.69970563 0.38057638 0.94195093]
 [0.32371208 0.57066874 0.02290698]
 [0.91747449 0.76093891 0.60898439]
 [0.05743147 0.30649655 0.22633382]
 [0.46517117 0.47553246 0.34336032]
 [0.7845828  0.83032461 0.71152841]]
[[0.69970563 0.38057638 0.94195093 0.05743147 0.30649655 0.22633382]
 [0.32371208 0.57066874 0.02290698 0.46517117 0.47553246 0.34336032]
 [0.91747449 0.76093891 0.60898439 0.7845828  0.83032461 0.71152841]]