In [8]:
import numpy as np

In [22]:
import pandas as pd

In [26]:
s=pd.Series(data=['python','java','ruby','pandas'])
s.index=[6,7,8,9]
print(s)

6    python
7      java
8      ruby
9    pandas
dtype: object

In [25]:
sample1=pd.Series([2,4,6,8])
sample2=pd.Series([1,3,5,7])
addition=sample1+sample2
subtraction=sample1-sample2
product=sample1*sample2
division=sample1/sample2
print(addition)
print(subtraction)
print(product)
print(division)

0     3
1     7
2    11
3    15
dtype: int64
0    1
1    1
2    1
3    1
dtype: int64
0     2
1    12
2    30
3    56
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
dtype: float64

In [17]:
sample=pd.Series([1,5,7,9])
type(sample)
print(type(sample))
print(sample.tolist())
print(type(sample.tolist()))

<class 'pandas.core.series.Series'>
[1, 5, 7, 9]
<class 'list'>

In [19]:
name=['Sachin','Ganguly','Kohli','Johnson','Taylor','Waugh',
'Yuvraj','Kambli','Srinath','Munaf']
score=[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19]
attempts=[1,3,2,3,2,3,1,1,2,1]
qualify=['yes','no','yes','no','no','yes','yes','no','no','yes']
labels=['a','b','c','d','e','f','g','h','i','j']
dataframe={'score':score,'attempts':attempts,'qualify':qualify,
'labels':labels}
examdata=pd.DataFrame(dataframe,index=name)
examdata.isnull()

         score  attempts  qualify  labels
Sachin   False     False    False   False
Ganguly  False     False    False   False
Kohli    False     False    False   False
Johnson   True     False    False   False
Taylor   False     False    False   False
Waugh    False     False    False   False
Yuvraj   False     False    False   False
Kambli    True     False    False   False
Srinath  False     False    False   False
Munaf    False     False    False   False

In [18]:
print(pd.datetime.now().date())

2019-12-24